body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

a {
  text-decoration: none;
  color: #252525;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.nav li:first-child {
  padding-left: 0;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.to-right {
  margin-left: auto
}

.active {
  font-weight: bold;
}

.avatar {
  height: 50px;
  border-radius: 25px;
  margin: 10px;
}

.center {
  text-align: center;
}

.user-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: beige;
  cursor: pointer;
}

.auth-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  font-weight: bold;
  color: purple;  
}

.auth-button button{
  margin-left: 1em;
  font-weight: bold;
  height: inherit;
}

.leader-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: beige;
}

.leader-item p {
  margin-left: 1em;
}

.leader-item .score {
  color: red;
  font-size: inherit;
  margin-left: 1em;
}

.btn {
  text-transform: uppercase;
  margin: 35px auto;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.29);
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  width: 250px;
  position: relative;
}

.question-item {
  display: flex;
  flex-direction: row;
  background-color: beige;
  justify-content: space-around;
  align-items: center;  
}

.question-item button {
  font-size: inherit;
  padding: 1em;
}

.bold-and-margin {
  font-weight: bold;
  margin: 1em;
}

.poll-option {
  width: 50%;
  padding: .5em;
  text-align: center;
}


.home-mode {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;  
}

.home-mode button {
  text-transform: uppercase;
  margin: 35px auto;
  padding: 10px;
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  width: 250px;
  position: relative;
  border: 1px solid rgba(0,0,0,.29);
}

.home-mode button:disabled {
  text-transform: uppercase;
  margin: 35px auto;
  padding: 10px;
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  width: 250px;
  position: relative;
  border: 0px solid rgba(0,0,0,.29);
}

.new-question {
  width: 100%;
  max-width: 590px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.new-question input {
  font-size: large;
}